<section>
    <div class="section-header">
        <ol class="breadcrumb">
            <li class="active">Patient Details</li>
        </ol>
    </div>

    <div class="section-body">
        <div class="row">
            <div class="col-md-2">
                <img src="http://placehold.it/150x150" alt="" height="150" width="150"/>

                <br/>
                <br/>
                <p class="info">Age: <span>25</span> <a href="#">View Info</a></p>
                <p class="info">Last Clinic Visit: May 10, 2015</p>

                <br/>
                <div class="card">
                    <div class="card-body no-padding">
                        <ul class="list divider-full-bleed">
                            <li class="tile">
                                <a class="tile-content ink-reaction">
                                    <div class="tile-text">
                                        Face Sheet
                                    </div>
                                </a>
                            </li>
                            <li class="tile">
                                <a class="tile-content ink-reaction">
                                    <div class="tile-text">
                                        Vital Signs
                                    </div>
                                </a>
                            </li>
                            <li class="tile">
                                <a class="tile-content ink-reaction">
                                    <div class="tile-text">
                                        Clinical Notes
                                    </div>
                                </a>
                            </li>
                            <li class="tile">
                                <a class="tile-content ink-reaction">
                                    <div class="tile-text">
                                        Pre-Natal Monitoring
                                    </div>
                                </a>
                            </li>
                            <li class="tile">
                                <a class="tile-content ink-reaction">
                                    <div class="tile-text">
                                        Laboratory Result
                                    </div>
                                </a>
                            </li>
                            <li class="tile">
                                <a class="tile-content ink-reaction">
                                    <div class="tile-text">
                                        Education
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div><!--end .card-body -->
                </div><!--end .card -->
            </div>

            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card card-bordered style-primary">
                            <div class="card-head">
                                <header style="font-size: 15px">
                                    Allergy
                                </header>
                                <div class="tools">
                                    <div class="btn-group">
                                        <button type="button" class="btn ink-reaction btn-floating-action btn-primary">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="card-body style-default-bright height-6 scroll">
                                <ul>
                                    <li>test 1</li>
                                    <li>test 2</li>
                                    <li>test 3</li>
                                    <li>test 4</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card card-bordered style-primary">
                            <div class="card-head">
                                <header style="font-size: 15px">
                                    Past Medical History
                                </header>
                                <div class="tools">
                                    <div class="btn-group">
                                        <button type="button" class="btn ink-reaction btn-floating-action btn-primary">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="card-body style-default-bright height-6 scroll">
                                <ul>
                                    <li>test 1</li>
                                    <li>test 2</li>
                                    <li>test 3</li>
                                    <li>test 4</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card card-bordered style-primary">
                            <div class="card-head">
                                <header style="font-size: 15px">
                                    Past Surgical History
                                </header>
                                <div class="tools">
                                    <div class="btn-group">
                                        <button type="button" class="btn ink-reaction btn-floating-action btn-primary">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="card-body style-default-bright height-6 scroll">
                                <ul>
                                    <li>test 1</li>
                                    <li>test 2</li>
                                    <li>test 3</li>
                                    <li>test 4</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-4">
                        <div class="card card-bordered style-primary">
                            <div class="card-head">
                                <header style="font-size: 15px">
                                    Current Medication
                                </header>
                                <div class="tools">
                                    <div class="btn-group">
                                        <button type="button" class="btn ink-reaction btn-floating-action btn-primary">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="card-body style-default-bright height-6 scroll">
                                <ul>
                                    <li>test 1</li>
                                    <li>test 2</li>
                                    <li>test 3</li>
                                    <li>test 4</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card card-bordered style-primary">
                            <div class="card-head">
                                <header style="font-size: 15px">
                                    Social History
                                </header>
                                <div class="tools">
                                    <div class="btn-group">
                                        <button type="button" class="btn ink-reaction btn-floating-action btn-primary">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="card-body style-default-bright height-6 scroll">
                                <ul>
                                    <li>test 1</li>
                                    <li>test 2</li>
                                    <li>test 3</li>
                                    <li>test 4</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card card-bordered style-primary">
                            <div class="card-head">
                                <header style="font-size: 15px">
                                    Family History
                                </header>
                                <div class="tools">
                                    <div class="btn-group">
                                        <button type="button" class="btn ink-reaction btn-floating-action btn-primary">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="card-body style-default-bright height-6 scroll">
                                <ul>
                                    <li>test 1</li>
                                    <li>test 2</li>
                                    <li>test 3</li>
                                    <li>test 4</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-4">
                        <div class="card card-bordered style-primary">
                            <div class="card-head">
                                <header style="font-size: 15px">
                                    Obstetrics History
                                </header>
                                <div class="tools">
                                    <div class="btn-group">
                                        <button type="button" class="btn ink-reaction btn-floating-action btn-primary">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="card-body style-default-bright height-6 scroll">
                                <ul>
                                    <li>test 1</li>
                                    <li>test 2</li>
                                    <li>test 3</li>
                                    <li>test 4</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card card-bordered style-primary">
                            <div class="card-head">
                                <header style="font-size: 15px">
                                    Gynecology History
                                </header>
                                <div class="tools">
                                    <div class="btn-group">
                                        <button type="button" class="btn ink-reaction btn-floating-action btn-primary">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="card-body style-default-bright height-6">
                                <ul>
                                    <li>test 1</li>
                                    <li>test 2</li>
                                    <li>test 3</li>
                                    <li>test 4</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card card-bordered style-primary">
                            <div class="card-head">
                                <header style="font-size: 15px">
                                    Notes
                                </header>
                                <div class="tools">
                                    <div class="btn-group">
                                        <button type="button" class="btn ink-reaction btn-floating-action btn-primary">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="card-body style-default-bright height-6 scroll">
                                <ul>
                                    <li>test 1</li>
                                    <li>test 2</li>
                                    <li>test 3</li>
                                    <li>test 4</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>