<section>
    <div class="section-header">
        <ol class="breadcrumb">
            <li class="active">Patient Details</li>
        </ol>
    </div>

    <div class="section-body">
        <div class="row">
            <div class="col-md-2">
                <img src="http://placehold.it/150x150" alt="" height="150" width="150"/>

                <br/>
                <br/>
                <p class="info">Age: <span>25</span> <a href="#">View Info</a></p>
                <p class="info">Last Clinic Visit: May 10, 2015</p>

                <br/>
                <div class="card">
                    <div class="card-body no-padding">
                        <ul class="list divider-full-bleed">
                            <li class="tile">
                                <a class="tile-content ink-reaction">
                                    <div class="tile-text">
                                        Face Sheet
                                    </div>
                                </a>
                            </li>
                            <li class="tile">
                                <a class="tile-content ink-reaction">
                                    <div class="tile-text">
                                        Vital Signs
                                    </div>
                                </a>
                            </li>
                            <li class="tile">
                                <a class="tile-content ink-reaction">
                                    <div class="tile-text">
                                        Clinical Notes
                                    </div>
                                </a>
                            </li>
                            <li class="tile">
                                <a class="tile-content ink-reaction">
                                    <div class="tile-text">
                                        Pre-Natal Monitoring
                                    </div>
                                </a>
                            </li>
                            <li class="tile">
                                <a class="tile-content ink-reaction">
                                    <div class="tile-text">
                                        Laboratory Result
                                    </div>
                                </a>
                            </li>
                            <li class="tile">
                                <a class="tile-content ink-reaction">
                                    <div class="tile-text">
                                        Education
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div><!--end .card-body -->
                </div><!--end .card -->
            </div>

            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card card-bordered style-primary">
                            <div class="card-head">
                                <header style="font-size: 15px">
                                    Allergy
                                </header>
                                <div class="tools">
                                    <div class="btn-group">
                                        <button type="button" data-toggle="modal" data-target="#addAllergyModal" class="btn ink-reaction btn-floating-action btn-primary">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="card-body min-height-250 style-default-bright height-6 scroll">
                                <ul id="allergyList">
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card card-bordered style-primary">
                            <div class="card-head">
                                <header style="font-size: 15px">
                                    Past Medical History
                                </header>
                                <div class="tools">
                                    <div class="btn-group">
                                        <button type="button" data-toggle="modal" data-target="#addPastMedicalHistoryModal" class="btn ink-reaction btn-floating-action btn-primary">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="card-body min-height-250 style-default-bright height-6 scroll">
                                <ul id="pastMedicalHistoryList">
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card card-bordered style-primary">
                            <div class="card-head">
                                <header style="font-size: 15px">
                                    Past Surgical History
                                </header>
                                <div class="tools">
                                    <div class="btn-group">
                                        <button type="button" data-toggle="modal" data-target="#addPastSurgicalHistoryModal" class="btn ink-reaction btn-floating-action btn-primary">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="card-body min-height-250 style-default-bright height-6 scroll">
                                <ul>
                                    <li>test 1</li>
                                    <li>test 2</li>
                                    <li>test 3</li>
                                    <li>test 4</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-4">
                        <div class="card card-bordered style-primary">
                            <div class="card-head">
                                <header style="font-size: 15px">
                                    Current Medication
                                </header>
                                <div class="tools">
                                    <div class="btn-group">
                                        <button type="button" data-toggle="modal" data-target="#addCurrentMedicationModal" class="btn ink-reaction btn-floating-action btn-primary">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="card-body min-height-250 style-default-bright height-6 scroll">
                                <ul>
                                    <li>test 1</li>
                                    <li>test 2</li>
                                    <li>test 3</li>
                                    <li>test 4</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card card-bordered style-primary">
                            <div class="card-head">
                                <header style="font-size: 15px">
                                    Social History
                                </header>
                                <div class="tools">
                                    <div class="btn-group">
                                        <button type="button" data-toggle="modal" data-target="#addSocialHistoryModal" class="btn ink-reaction btn-floating-action btn-primary">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="card-body min-height-250 style-default-bright height-6 scroll">
                                <ul>
                                    <li>test 1</li>
                                    <li>test 2</li>
                                    <li>test 3</li>
                                    <li>test 4</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card card-bordered style-primary">
                            <div class="card-head">
                                <header style="font-size: 15px">
                                    Family History
                                </header>
                                <div class="tools">
                                    <div class="btn-group">
                                        <button type="button" data-toggle="modal" data-target="#addFamilyHistoryModal" class="btn ink-reaction btn-floating-action btn-primary">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="card-body min-height-250 style-default-bright height-6 scroll">
                                <ul>
                                    <li>test 1</li>
                                    <li>test 2</li>
                                    <li>test 3</li>
                                    <li>test 4</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-4">
                        <div class="card card-bordered style-primary">
                            <div class="card-head">
                                <header style="font-size: 15px">
                                    Obstetrics History
                                </header>
                                <div class="tools">
                                    <div class="btn-group">
                                        <button type="button" data-toggle="modal" data-target="#addObstetricsHistoryModal" class="btn ink-reaction btn-floating-action btn-primary">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="card-body min-height-250 style-default-bright height-6 scroll">
                                <ul>
                                    <li>test 1</li>
                                    <li>test 2</li>
                                    <li>test 3</li>
                                    <li>test 4</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card card-bordered style-primary">
                            <div class="card-head">
                                <header style="font-size: 15px">
                                    Gynecology History
                                </header>
                                <div class="tools">
                                    <div class="btn-group">
                                        <button type="button" data-toggle="modal" data-target="#addGynecologyHistoryModal" class="btn ink-reaction btn-floating-action btn-primary">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="card-body min-height-250 style-default-bright height-6">
                                <ul>
                                    <li>test 1</li>
                                    <li>test 2</li>
                                    <li>test 3</li>
                                    <li>test 4</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card card-bordered style-primary">
                            <div class="card-head">
                                <header style="font-size: 15px">
                                    Notes
                                </header>
                                <div class="tools">
                                    <div class="btn-group">
                                        <button type="button" data-toggle="modal" data-target="#addNotesModal" class="btn ink-reaction btn-floating-action btn-primary">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="card-body min-height-250 style-default-bright height-6 scroll">
                                <ul>
                                    <li>test 1</li>
                                    <li>test 2</li>
                                    <li>test 3</li>
                                    <li>test 4</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- MODAL FORMS BEGIN -->

<!-- BEGIND: ALLERGY MODAL -->
<div class="modal fade" id="addAllergyModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="formModalLabel1">Add Allery for patient</h4>
            </div>
            <form class="form-horizontal" role="form" id="createAllergyForm" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <div class="col-sm-3">
                            <label for="allergies" class="control-label">Allergies</label>
                        </div>
                        <div class="col-sm-9">
                            <select name="allergies" id="allergies" class="form-control">
                                <option value="test">test</option>
                                <option value="test2">test2</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary btnSubmit btn-loading-state" data-loading-text="<i class='fa fa-spinner fa-spin'></i> Submitting...">Submit</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- END: ALLERGY MODAL -->

<!-- BEGIND: PAST MEDICAL HISTORY MODAL -->
<div class="modal fade" id="addPastMedicalHistoryModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="formModalLabel2">Add Past Medical History</h4>
            </div>
            <form class="form-horizontal" role="form" id="createPastMedicalHistoryForm" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <div class="col-sm-3">
                            <label for="disease" class="control-label">Disease</label>
                        </div>
                        <div class="col-sm-9">
                            <select name="disease_id" id="disease" class="form-control">
                                {{#each data}}
                                <option value="{{patient_no}}">
                                    {{firstname}} {{middlename}} {{lastname}}
                                </option>
                                {{/each}}
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-3">
                            <label for="diagnosed" class="control-label">Year Diagnosed</label>
                        </div>
                        <div class="col-sm-9">
                            <select name="diagnosed" id="diagnosed" class="form-control">
                                {{#years}}
                                    <option value="{{this}}">{{this}}</option>
                                {{/years}}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary btnSubmit btn-loading-state" data-loading-text="<i class='fa fa-spinner fa-spin'></i> Submitting...">Submit</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- END: PAST MEDICAL HISTORY MODAL -->

<!-- BEGIND: PAST SURGICAL HISTORY MODAL -->
<div class="modal fade" id="addPastSurgicalHistoryModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="formModalLabel7">Add Allery for patient</h4>
            </div>
            <form class="form-horizontal" role="form" id="createPastSurgicalHistoryForm" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <div class="col-sm-3">
                            <label for="patient_no" class="control-label">Patient No</label>
                        </div>
                        <div class="col-sm-9">
                            <select name="patient_no" id="patient_no">
                                {{#each data}}
                                <option value="{{patient_no}}">
                                    {{firstname}} {{middlename}} {{lastname}}
                                </option>
                                {{/each}}
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-3">
                            <label for="email" class="control-label">Reservation Type</label>
                        </div>
                        <div class="col-sm-9">
                            <select name="reservation_type" id="email" class="form-control" placeholder="Reservation Type" >
                                <option value="OVER THE PHONE">OVER THE PHONE</option>
                                <option value="WALK-IN">WALK-IN</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-3">
                            <label for="getvital" class="control-label">Get Vital Signs</label>
                        </div>
                        <div class="col-sm-9">
                            <label class="radio-inline radio-styled">
                                <input type="radio" name="getvital" id="getvital"/>
                                <span>Yes</span>
                            </label>

                            <label class="radio-inline radio-styled">
                                <input type="radio" name="getvital" checked/>
                                <span>No</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary btnSubmit btn-loading-state" data-loading-text="<i class='fa fa-spinner fa-spin'></i> Submitting...">Submit</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- END: Past Surgical History MODAL -->

<!-- BEGIND: CURRENT MEDICATION MODAL -->
<div class="modal fade" id="addCurrentMedicationModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="formModalLabel4">Add Current Medication</h4>
            </div>
            <form class="form-horizontal" role="form" id="createCurrentMedicationForm" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <div class="col-sm-3">
                            <label for="medicine" class="control-label">Medicine</label>
                        </div>
                        <div class="col-sm-9">
                            <select name="medicine" id="medicine" class="form-control">
                                {{#each data}}
                                <option value="{{patient_no}}">
                                    {{firstname}} {{middlename}} {{lastname}}
                                </option>
                                {{/each}}
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-3">
                            <label for="dosage" class="control-label">Dosage</label>
                        </div>
                        <div class="col-sm-9">
                            <input type="text" id="dosage" name="dosage" class="form-control" placeholder="Dosage"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-3">
                            <label for="frequency" class="control-label">Frequency</label>
                        </div>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="frequency" name="frequency" placeholder="Frequency"/>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary btnSubmit btn-loading-state" data-loading-text="<i class='fa fa-spinner fa-spin'></i> Submitting...">Submit</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- END: CURRENT MEDICATION MODAL -->

<!-- BEGIND: SOCIAL HISTORY MODAL -->
<div class="modal fade" id="addSocialHistoryModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="formModalLabel5">Add Social History</h4>
            </div>
            <form class="form-horizontal" role="form" id="createSocialHistoryForm" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <div class="col-sm-3">
                            <label for="marital_status" class="control-label">Marital Status</label>
                        </div>
                        <div class="col-sm-9">
                            <select name="marital_status" id="marital_status">
                                {{#each data}}
                                <option value="{{patient_no}}">
                                    {{firstname}} {{middlename}} {{lastname}}
                                </option>
                                {{/each}}
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-3">
                            <label for="exercise" class="control-label">Exercise</label>
                        </div>
                        <div class="col-sm-9">
                            <select name="exercise" id="exercise" class="form-control" >
                                <option value="OVER THE PHONE">OVER THE PHONE</option>
                                <option value="WALK-IN">WALK-IN</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-3">
                            <label for="exercise_frequency" class="control-label">Exercise Frequency</label>
                        </div>
                        <div class="col-sm-9">
                            <select name="exercise_frequency" id="exercise_frequency" class="form-control" >
                            <option value="OVER THE PHONE">OVER THE PHONE</option>
                            <option value="WALK-IN">WALK-IN</option>
                            </select>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-sm-3">
                            <label class="control-label">Smokes</label>
                        </div>
                        <div class="col-sm-9">
                            <label class="radio-inline radio-styled">
                                <input type="radio" name="smokes"/>
                                <span>Yes</span>
                            </label>

                            <label class="radio-inline radio-styled">
                                <input type="radio" name="smokes" checked/>
                                <span>No</span>
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-3">
                            <label class="control-label">Alcohol</label>
                        </div>
                        <div class="col-sm-9">
                            <label class="radio-inline radio-styled">
                                <input type="radio" name="alcohol"/>
                                <span>Yes</span>
                            </label>

                            <label class="radio-inline radio-styled">
                                <input type="radio" name="alcohol" checked/>
                                <span>No</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary btnSubmit btn-loading-state" data-loading-text="<i class='fa fa-spinner fa-spin'></i> Submitting...">Submit</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- END: SOCIAL HISTORY MODAL -->

<!-- BEGIND: FAMILY HISTORY MODAL -->
<div class="modal fade" id="addFamilyHistoryModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="formModalLabel6">Add Family History</h4>
            </div>
            <form class="form-horizontal" role="form" id="createFamilyHistoryForm" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <div class="col-sm-3">
                            <label for="family_member" class="control-label">Family Member</label>
                        </div>
                        <div class="col-sm-9">
                            <select name="family_member" id="family_member">
                                {{#each data}}
                                <option value="{{patient_no}}">
                                    {{firstname}} {{middlename}} {{lastname}}
                                </option>
                                {{/each}}
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-3">
                            <label for="hereditary_condition" class="control-label">Hereditary Condition</label>
                        </div>
                        <div class="col-sm-9">
                            <select name="hereditary_condition" id="hereditary_condition">
                                {{#each data}}
                                <option value="{{patient_no}}">
                                    {{firstname}} {{middlename}} {{lastname}}
                                </option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary btnSubmit btn-loading-state" data-loading-text="<i class='fa fa-spinner fa-spin'></i> Submitting...">Submit</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- END: FAMILY HISTORY MODAL -->

<!-- BEGIND: OBSTETRICS HISTORY MODAL -->
<div class="modal fade" id="addObstetricsHistoryModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="formModalLabel">Add Allery for patient</h4>
            </div>
            <form class="form-horizontal" role="form" id="createQueueForm" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <div class="col-sm-3">
                            <label for="patient_no" class="control-label">Patient No</label>
                        </div>
                        <div class="col-sm-9">
                            <select name="patient_no" id="patient_no">
                                {{#each data}}
                                <option value="{{patient_no}}">
                                    {{firstname}} {{middlename}} {{lastname}}
                                </option>
                                {{/each}}
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-3">
                            <label for="email" class="control-label">Reservation Type</label>
                        </div>
                        <div class="col-sm-9">
                            <select name="reservation_type" id="email" class="form-control" placeholder="Reservation Type" >
                                <option value="OVER THE PHONE">OVER THE PHONE</option>
                                <option value="WALK-IN">WALK-IN</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-3">
                            <label for="getvital" class="control-label">Get Vital Signs</label>
                        </div>
                        <div class="col-sm-9">
                            <label class="radio-inline radio-styled">
                                <input type="radio" name="getvital" id="getvital"/>
                                <span>Yes</span>
                            </label>

                            <label class="radio-inline radio-styled">
                                <input type="radio" name="getvital" checked/>
                                <span>No</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary btnSubmit btn-loading-state" data-loading-text="<i class='fa fa-spinner fa-spin'></i> Submitting...">Submit</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- END: OBSTETRICS HISTORY MODAL -->

<!-- BEGIND: GYNECOLOGY HISTORY MODAL -->
<div class="modal fade" id="addGynecologyHistoryModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="formModalLabel">Add Allery for patient</h4>
            </div>
            <form class="form-horizontal" role="form" id="createQueueForm" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <div class="col-sm-3">
                            <label for="patient_no" class="control-label">Patient No</label>
                        </div>
                        <div class="col-sm-9">
                            <select name="patient_no" id="patient_no">
                                {{#each data}}
                                <option value="{{patient_no}}">
                                    {{firstname}} {{middlename}} {{lastname}}
                                </option>
                                {{/each}}
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-3">
                            <label for="email" class="control-label">Reservation Type</label>
                        </div>
                        <div class="col-sm-9">
                            <select name="reservation_type" id="email" class="form-control" placeholder="Reservation Type" >
                                <option value="OVER THE PHONE">OVER THE PHONE</option>
                                <option value="WALK-IN">WALK-IN</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-3">
                            <label for="getvital" class="control-label">Get Vital Signs</label>
                        </div>
                        <div class="col-sm-9">
                            <label class="radio-inline radio-styled">
                                <input type="radio" name="getvital" id="getvital"/>
                                <span>Yes</span>
                            </label>

                            <label class="radio-inline radio-styled">
                                <input type="radio" name="getvital" checked/>
                                <span>No</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary btnSubmit btn-loading-state" data-loading-text="<i class='fa fa-spinner fa-spin'></i> Submitting...">Submit</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- END: GYNECOLOGY HISTORY MODAL -->

<!-- BEGIND: NOTES MODAL -->
<div class="modal fade" id="addNotesModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="formModalLabel">Add Allery for patient</h4>
            </div>
            <form class="form-horizontal" role="form" id="createQueueForm" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <div class="col-sm-3">
                            <label for="patient_no" class="control-label">Patient No</label>
                        </div>
                        <div class="col-sm-9">
                            <select name="patient_no" id="patient_no">
                                {{#each data}}
                                <option value="{{patient_no}}">
                                    {{firstname}} {{middlename}} {{lastname}}
                                </option>
                                {{/each}}
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-3">
                            <label for="email" class="control-label">Reservation Type</label>
                        </div>
                        <div class="col-sm-9">
                            <select name="reservation_type" id="email" class="form-control" placeholder="Reservation Type" >
                                <option value="OVER THE PHONE">OVER THE PHONE</option>
                                <option value="WALK-IN">WALK-IN</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-3">
                            <label for="getvital" class="control-label">Get Vital Signs</label>
                        </div>
                        <div class="col-sm-9">
                            <label class="radio-inline radio-styled">
                                <input type="radio" name="getvital" id="getvital"/>
                                <span>Yes</span>
                            </label>

                            <label class="radio-inline radio-styled">
                                <input type="radio" name="getvital" checked/>
                                <span>No</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary btnSubmit btn-loading-state" data-loading-text="<i class='fa fa-spinner fa-spin'></i> Submitting...">Submit</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- END: NOTES MODAL -->

<!-- MODAL FORMS END -->